/* _reset.scss */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none !important;
}

/* Reset form elements */
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
  outline: none;
}

/* Custom Typography */
body {
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Miscellaneous */
img {
  max-width: 100%;
  height: auto;
}
